body{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.website_logo{
    color: rgb(20, 185, 111);
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navleft{
    /* border: 1px solid black; */
    width: 40%;
    padding: 5px 10px 5px 0px;
}

.navleftul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}


.navright{
    /* border: 1px solid black; */
    width: 20%;
    padding: 5px 10px 5px 0px;
}

.navrightul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}